<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Perguntas Node</title>
</head>
<body>
<br>
<br>
<br>
<div class="container" > 
    <br>
    <h1 >Escreva a sua dúvida sobre Node.js!</h1>
    <br>
    
    <form method="POST" action="/perguntas" >
    <input type="text" style="width:95%;"  name="titulo" required placeholder="Título da pergunta">
    <br>
    <br>
    <textarea style="resize: vertical;" name="descricao" required placeholder="Qual é a sua dúvida? Escreva aqui sua pergunta" ></textarea>
    <br>
    <button class="button1" > Enviar Pergunta </button>
    <br>
    <br>
    </form>

</div>
    
</body>
</html>